<template name="_header">
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a class="brand-logo" href="{{pathFor 'home'}}"><i class="fa fa-heart" style="display: inline;"></i> GIFT</a>

        <div id="notifications-alert" class="right" style="position: relative; width: 35px;">
          <div class="circle red darken-4" style="position: absolute; top:10px; right: 2px; height: 20px; width: 20px; z-index: 5; line-height: 20px; text-align: center; font-size: 13px; opacity: 0.7">
            {{notificationsCount}}
          </div> 
          <i class="fa fa-heart" style="font-size: 18px; padding-top: 20px; line-height: 18px"></i>
        </div>

        <ul class="right">
          <li><a class="dropdown-button" href="#!" data-activates="user-dropdown"><i class="mdi-navigation-more-vert"></i></a></li>
        </ul>

        <ul class="right hide-on-med-and-down">
          <li class="{{ isActiveRoute regex='home' }}"><a href="{{ pathFor 'home' }}" title="Home"><i class="mdi-action-home"></i></a></li>
          <li class="{{ isActiveRoute regex='dashboard' }}"><a href="{{ pathFor 'dashboard' }}" title="Dashboard"><i class="mdi-action-dashboard"></i></a></li>
        </ul>

        <ul id="user-dropdown" class="dropdown-content">
          {{#if currentUser}}
            <li><a href="#" data-action="logout"><i class="mdi-action-lock"></i> Sign Out</a></li>
          {{else}}
            <li><a href="{{ pathFor 'atSignIn' }}">Sign in</a></li>
            <li><a href="{{ pathFor 'atSignUp' }}">Register</a></li>
          {{/if}}
        </ul>

        <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
      </div>
    </div>
  </nav>

  <ul id="nav-mobile" class="side-nav">
    <li class="bold {{ isActiveRoute regex='home' }}"><a href="{{ pathFor 'home' }}" title="Home"><i class="mdi-action-home"></i> Home</a></li>
    <li class="bold {{ isActiveRoute regex='dashboard' }}"><a href="{{ pathFor 'dashboard' }}" title="Dashboard"><i class="mdi-action-dashboard"></i> Dashboard</a></li>
  </ul>

  <div id="notifications" class="modal modal-fixed-footer">
    <div class="modal-content">
      <ul class="collection">
        {{#each notifications}}
          <a href="{{ pathFor 'showRequest' _id = requestId}}" class="notification-item collection-item {{#if read}} {{else}} red lighten-4 {{/if}}">
            {{rqUserName}} made a {{notificationType}} for {{ getLocation this }}
          </a>
        {{/each}}
      </ul>
    </div>
    <div class="modal-footer">
      <a href="#!" id="close-notifications" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

</template>
