<template name="newProvider">
  <form>
    <div class="basic">
      <div class="row">
        <div class="input-field col s12">
          <select id="type" name="type">
            <option value="" disabled selected>Choose your option</option>
            <option value="Hotels">Hotels</option>
            <option value="Guide">Guide</option>
            <option value="City Tours">City Tours</option>
          </select>
          <label>Main Area</label>
        </div>

        <div class="input-field col s12">
          <input id="name" name="name" type="text" class="" placeholder="">
          <label for="name">Company name</label>
        </div>

        <div class="input-field col s12">
          <textarea id="desc" name="desc" class="materialize-textarea"></textarea>
          <label for="desc">Description about you</label>
        </div>        
      </div>

      <div class="navfooter">
        <a onclick="goNext('basic', 'subscriptions');" class="waves-effect waves-light btn right">Next <i class="fa fa-angle-right"></i></a>
      </div>
    </div>

    <div class="subscriptions">

      <div class="row">
        <div class="input-field col s12">
          <p>
            <input type="checkbox" id="w_flight" name="what[]" value="Flight" />
            <label for="w_flight">Flight</label>
          </p>
          <p>
            <input type="checkbox" id="w_hotel" name="what[]" checked="checked" value="Hotel" />
            <label for="w_hotel">Hotel</label>
          </p>
          <p>
            <input type="checkbox" id="w_transfer" name="what[]" checked="checked" value="Transfer" />
            <label for="w_transfer" >Transfer</label>
          </p>
          <p>
            <input type="checkbox" id="w_excursions" name="what[]" checked="checked" value="Excursions" />
            <label for="w_excursions" >Excursions</label>
          </p>
        </div>
      </div>
      
      <button id="confirm" class="waves-effect waves-light btn">Register me as a Gift Giver</button>

      <div class="navfooter">
        <a onclick="goPrev('subscriptions', 'basic');" class="waves-effect waves-light btn left"><i class="fa fa-angle-left"></i> Prev</a>
      </div>
    </div>
  </form>
</template>