<template name="config">

  <h6>Recieve app notifications</h6>
  <div class="switch">
    <label>
      Off
      <input type="checkbox">
      <span class="lever"></span>
      On
    </label>
  </div>

  <h6>Recieve SMS notifications (twilio)</h6>
  <div class="switch">
    <label>
      Off
      <input type="checkbox">
      <span class="lever"></span>
      On
    </label>
  </div>

  <h6>Recieve phone call notifications (twilio)</h6>
  <div class="switch">
    <label>
      Off
      <input type="checkbox">
      <span class="lever"></span>
      On
    </label>
  </div>

  <div class="row">
  <div class="input-field col s6">
    <input placeholder="" id="first_name" type="text" class="validate" value="+4419153900087">
    <label for="first_name">Phone Number</label>
  </div>
  </div>
</template>